@charset "UTF-8";






body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0e1114;
}



#tela {
    background-color: #000000;
    border-radius: 30px;
    box-shadow: 0px 0px 20px #ff66002d;
    width: 90%;
    height: 60vh;

    display: flex;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link{
    position:absolute;
    left: -9999px
}

#painel,#paineldois {
    justify-content: space-evenly;
    width: 50%;
}


h1{
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #ff6600;
}

#formulario{
    text-align: center;
}

input{
    width: 70%;
    padding: 8px;

    border-radius: 12px;
    border: 1px solid #000000;
    outline: none;

    margin: 8px 0;
    text-align: center;

    font-size: 16px;
    
}

button {
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
    width: 150px;
    background-color: #ff6600;
    color: white;
}

button:hover{
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

.link {
    text-align: center;
    color: white;
    
}

#paineldois{
    text-align: center;
    background-color: #21232b;
    border-radius: 30px;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    
    
}

@media screen and (max-width: 500px){
        body {
    background-color: #0e1114;
  }

  

  .link {
     position: static;   /* ou relative */
        left: auto;         /* reseta o -9999px */
        display: block;     /* garante que apareça */
        margin-top: 15px;   /* opcional */
        text-align: center;
  }

  #painel,
  #paineldois {

    
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.6s ease;
  }

  #painel {
    background: #21232b;
    transform: translateY(0);
  }

  #paineldois {
  background: #15181f;
  transform: translateY(100%);
  }

  #tela.login #painel {
  transform: translateY(-100%);
}

#tela.login #paineldois {
  transform: translateY(0);
}

  h1 {
    font-size: 1.8em;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  input {
    width: 85%;
    font-size: 15px;
  }

  button {
    width: 70%;
  }
}


