@charset "UTF-8";

body{
    background-color: #0e1114;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 1.0em;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(11px);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #282d36;
}

header > h1{
    margin: 0px 80px;
}

nav {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 80px;
}

span {
    color: #ff6600;
}

h1 {
    color: white;
    text-align: center;
}

.titulo {
    font-size: 3em;
    padding-top: 50px;
}

p {
    text-align: center;
    color: #738999;
}

 h2{
    color: #727987;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: lighter;
}

h3 {
    
    color: white;
}

h2:hover {
    color: #ff6600;
}

#um {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 1100px;
    margin: 60px auto;
    align-items: stretch;
}

#calimc {
    
    background-color: #15181f;
    border: 1px solid #282d36;
    max-width: 500px;
    height: 300px;
    border-radius: 10px;
    padding: 25px;
    margin: 0px;
}

#calimc.ativo {
    height: 500px;
    transition: all 0.5s ease;
}

#calimc.desativo {
    height: 300px;
    transition: all 0.5s ease;
}

input {
    color: white;
    width: 90%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
    background-color: #21232b;
}

label {
    color: white;
    
}

button{
    width: 95%;
    background-color: #ff6600;
    color: white;
    margin-top: 25px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


#tabela {
    background-color: #15181f;
    border: 1px solid #282d36;
    border-radius: 10px;
    padding: 25px;
    min-height: 420px;
    max-height: 420px;
    max-width: 500px;
    overflow: hidden;
    box-sizing: border-box;
}

table {
    
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    border-color: #282d36;
    overflow: hidden;
}

th {
    color: white;
    background-color: transparent;
}

th,td {
    border: none;
    border-top: none;
    border-bottom:  1px solid #282d36;
    text-align: left;
    font-size: 1.0em;
}

th,td:hover{
    background-color: #21232b;
    transition: all 0.5s ease;
}

.timc {
    color: #738999;;
}

#dois {
    background-color: #14171c;
    
    
}

#quadro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    justify-content: center;
    gap: 30px;
    margin: auto;
}

.treino {
    
    background-color: #15181f;
    width: 500px;
    height: 300px;
    border-radius: 10px; 
    border-color:#21232b;
}

.treino > h3 {
    padding: 20px;
}

.treino:hover {
    border: 1px solid red;
    box-shadow: 0px solid red;
    transition: all 0.5s ease;
}