@charset "UTF-8";

@media screen and (max-width:818px){

    #um {
        display: flex;
        flex-wrap: wrap;
    }

    menu {
        position:absolute;
        left: -9999px
    }

}

@media screen and (max-width: 500px) {
    #quadro{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    }
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .titulo {
        font-size: smaller;
    }

    .treino {
        width: 90%;
    }
    
    .treino > h3 {
        font-size: small;
    }

    .treino:hover {
        border: 1px solid transparent; 
        box-shadow: none;
        width: 100%; 
        height: auto; 
         
        li {
            font-size: 0.9em;
        }
    }

    li{
        font-size: 0.8em;
        padding: 3px;
    }
}



body{
    background-color: #0e1114;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 1.0em;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(11px);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #282d36;
}

header > h1{
    margin: 0px 80px;
}

menu {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 80px;
}

a{
    text-decoration: none;
    color: #727987;
    transition: all 0.3s ease;
}

a:hover {
    color: #ff6600;
    transition: all 0.3s ease;
}

span {
    color: #ff6600;
}

h1 {
    color: white;
    text-align: center;
}

.titulo {
    font-size: 3em;
    padding-top: 50px;
}

p {
    text-align: center;
    color: #738999;
}

 h2{
    color: #727987;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: lighter;
}

h3 {
    
    color: white;
}

h2:hover {
    color: #ff6600;
}

#um {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    max-width: 1100px;
    margin: 60px auto;
    align-items: stretch;
}

#calimc {
    
    background-color: #15181f;
    border: 1px solid #282d36;
    max-width: 500px;
    height: 300px;
    border-radius: 10px;
    padding: 25px;
    margin: 0px;
}

#calimc.ativo {
    height: 500px;
    transition: all 0.5s ease;
}

#calimc.desativo {
    height: 300px;
    transition: all 0.5s ease;
}

input {
    color: white;
    width: 90%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
    background-color: #21232b;
}

label {
    color: white;
    
}

button{
    width: 95%;
    background-color: #ff6600;
    color: white;
    margin-top: 25px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


#tabela {
    background-color: #15181f;
    border: 1px solid #282d36;
    border-radius: 10px;
    padding: 25px;
    min-height: 420px;
    width: 526px;
    overflow: hidden;
    box-sizing: border-box;
}

table {
    
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    border-color: #282d36;
    overflow: hidden;
}

th {
    color: white;
    background-color: transparent;
}

th,td {
    border: none;
    border-top: none;
    border-bottom:  1px solid #282d36;
    text-align: left;
    font-size: 1.0em;
}

th,td:hover{
    background-color: #21232b;
    transition: all 0.5s ease;
}

.timc {
    color: #738999;;
}

#dois {
    background-color: #14171c;
    padding: 45px;
    
}

#quadro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin: auto;
}

.treino {
    background-color: #15181f;
    width: 500px;
    height: 300px;
    border-radius: 10px; 
    border-color:#21232b;
    margin-bottom: 5px;
    border: 1px solid transparent;
    transition: all 0.5s ease;
}

.treino > h3 {
    padding: 20px;
}

.treino:hover {
    border: 1px solid red;
    box-shadow: 0px solid red;
    width: 530px;
    height: 330px;
    font-size: large;
    transition: all 0.5s ease;
    li { color: white;
        
    }
}

i{
    color: #ff6600;
}

li {
    color: #7f8799;
    list-style:none;
    margin: 5px 0px;
}

#quadrodois {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    
}

.qdieta {
    display: flex;
    flex-direction:column;
    
    width: 350px;
    min-height: 630px;
    background-color: #15181f;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 0.5s ease;
}

.qdieta > h3 {
    text-align: center;
}

.qdieta:hover {
    border: 1px solid red;
    transition: all 0.5s ease;
    width: 370px;
    min-height: 650px;
    li {
        color: white;
    }
}

.planodieta {
    width: 90%;
    min-height: 200px;
    background-color: #1b1f26;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
}

h4{
    margin-left: 15px;
    color: white;
}

.planodieta > li {
    color: #7f8799;
}
