@charset "UTF-8";

body{
    background-color: #0e1114;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 1.0em;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(11px);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #282d36;
}

header > h1{
    margin: 0px 80px;
}

nav {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 80px;
}

span {
    color: #ff6600;
}

h1 {
    color: white;
    text-align: center;
}

.titulo {
    font-size: 3em;
    padding-top: 50px;
}

p {
    text-align: center;
    color: #738999;
}

 h2{
    color: #727987;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: lighter;
}

h3 {
    
    color: white;
}

h2:hover {
    color: #ff6600;
}

#um {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 10px;
    max-width: 1100px;
    margin: 60px auto;
    align-items: stretch;
}

#calimc {
    
    background-color: #15181f;
    border: 1px solid #282d36;
    max-width: 500px;
    border-radius: 10px;
    padding: 25px;
    margin: 0px;
}

input {
    width: 90%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: #21232b;
}

label {
    color: white;
}

button{
    width: 95%;
    background-color: #ff6600;
    color: white;
    margin-top: 25px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    
}

#tabela {
   background-color: #15181f;
    border: 1px solid #282d36;
    
    border-radius: 10px;
    padding: 25px;
    min-height: 420px;
    max-width: 500px;
    
}

table {
    border-collapse: collapse;
}

th,td {
    border-top: none;
    border-bottom:  1px solid #282d36;
    text-align: left;
}

th,td:hover{
    background-color: #21232b;
    transition: all 0.5s ease;
}

#dois {
    background-color: #14171c;
}