@charset "UTF-8";

body{
    background-color: #080c17;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2{
    color: white;
}

p{
    color: #678896;
}

header{
    border-bottom: 1px solid black;
}

#um {
    text-align: center;
}

#divinput {
    position: relative;
}

#divinput i {
    position: absolute;
    top: 30%;
    padding-left: 10px;
    color: #678896;
}

input{
    background-color: #101521;
    border-style: hidden;
    border-color: #536278;
    width: 60%;
    max-width: 500px;
    padding: 15px 40px;
    border-radius: 10px;
    color: white;
}

input:focus {
    outline: 2px solid #536278;
}

#dois {
    text-align: center;
}

.top {
    
    width: 80%;
    max-width: 650px;
    height: auto;
    margin: auto;
    background-color: #09101c;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.posicao {
    width: 80%;
    max-width: 650px;
    height: 75px;
    margin: auto;
    background-color: #0f172a;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.posicao > .linha {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.linha > p{
    margin-left: 35px;
    margin-right: 35px;
}


.posicao:hover {
    border: 1px solid rgba(255, 255, 255, 0.24);
    transition: all 0.5s ease;
}

.info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.rank {
    color: #94a3b8;
    font-size: 14px;
    width: 20px;
}


.icon {
    width: 32px;
    height: 32px;
}


.nome-coin {
    color: white;
    font-weight: 600;
    margin: 0;
}

.sigla {
    color: #94a3b8;
    font-size: 13px;
    margin: 0;
}


.preco-box {
    text-align: right;
    margin-right: 20px;
}

.preco {
    color: white;
    font-weight: 600;
    margin: 0;
}


.verde {
    color: #22c55e;
    font-size: 14px;
    margin: 0;
}

.vermelho {
    color: #ef4444;
    font-size: 14px;
    margin: 0;
}

footer {
    text-align: center;
}