@charset "UTF-8";

#celular {
    background-color: black;
    height: 600px;
    width: 350px;
    border-radius: 30px;
    margin: auto;
    padding-top: 17px;
}

#resultado {
    background-color: rgba(56, 46, 46, 0.87);
    width: 92%;
    height: 150px;
    border-radius: 30px;
    margin: auto;
}

input {
    background:transparent;
    border-style: none;
    width: 95%;
    height: 150px;
    border-radius: 30px;
    padding-left: 15px;
    color: white;
    text-align: right;
    font-size: 2.5em;
}

#teclas{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    text-align: center;
    gap: 5px;
    align-items: normal;
    justify-items: normal;
    align-content: normal;
    justify-content: space-around;
    margin-top: 60px;
    padding-left: 5px;
    padding-right: 5px;
    
}

.botoes , .numero , #igual{
    background-color: rgb(121, 106, 106);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 1.3em;
    font-weight: normal;
    border-style: none;
}

.numero {
    background-color: rgb(49, 43, 43);
    color: white;
}
#igual {
    background-color: rgba(5, 173, 5, 0.979);
}